@import url("https://fonts.googleapis.com/css?family=Fira+Sans");
hr {
  margin: 0; }

body {
  background-color: #f6f6f6;
  padding: 10;
  color: #4a4a4a;
  font-family: 'Fira Sans', sans-serif;
  max-width: 1180px;
  margin-left: auto;
  margin-right: auto; }
  body:after {
    content: " ";
    display: block;
    clear: both; }

nav {
  background-color: white;
  display: block;
  width: 100%;
  height: 2.2em;
  margin: 0;
  padding: 1.2em 0 1.2em 0; }
  nav ul {
    display: block;
    width: 100%;
    height: 2.2em;
    margin: 0;
    padding: 0; }

footer {
  float: right;
  clear: both; }
  footer .nav-item {
    margin-right: 1.2em; }
    footer .nav-item p {
      line-height: 10px; }

.grid-3 {
  width: 32.20339%;
  float: left;
  margin-right: 1.69492%; }

.grid-3-last {
  width: 32.20339%;
  float: right;
  margin-right: 0; }

.profile-image {
  margin: 0 auto;
  background-image: url("../images/profile.png");
  background-position: center center;
  background-size: 10em;
  border-radius: 100px;
  height: 10em;
  width: 10em; }

.about {
  text-align: center;
  margin-bottom: 2.2em; }

.nav-item {
  float: left;
  list-style: none;
  padding: 6px; }

.selected a {
  color: gray;
  font-weight: 600; }

.nav-item a {
  text-decoration: none;
  color: black; }

.nav-item a:hover {
  color: pink; }

.anim-badge {
  height: 32.20339%;
  background-color: #ff86e0;
  background-image: url("../images/badge.jpg");
  background-origin: center center;
  filter: opacity(100%);
  transition: filter .5s; }

.badge-content {
  padding: 0em .5em;
  filter: opacity(0%);
  transition: filter .5s;
  width: 100%;
  height: 100%; }

.badge-content:hover {
  filter: opacity(100%); }

.anim-badge:hover {
  filter: opacity(70%); }

.name {
  float: right;
  color: #989898;
  margin-right: .2em; }
