.anim-badge {
    z-index: 100;
}   
.anim-badge:before {
    content: "";
    width: 100%;
    height: 100%;
    float: left;
    z-index: -1;
    background-image: url("../images/image_1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: center center;
    filter: opacity(80%) brightness(1);
    transition: 2s filter;

}   

.anim-badge:hover:before {
    content: "";
    filter: brightness(0);
}   

.badge-content {
    display: inline-block;
    text-align: center;
    padding: 0em .5em;
    width: 100%;
    height: 100%;
    position: relative;
    bottom: 200px;
    left: -14px;
    color: black;
    transition: color .2s;
}

.badge-content:hover {
    color: white;
}

.anim-badge:hover {
}
