.anim-badge {
    z-index: 100;
}   
.anim-badge:before {
    content: "";
    width: 100%;
    height: 100%;
    float: left;
    z-index: -1;
    background-image: url("../images/image_1.jpg");
    background-origin: center center;
    filter: blur(5px);
    filter: brightness(1);
    transition: filter .2s;

}   

.anim-badge:hover:before {
    content: "";
    filter: brightness(0);
}   

.badge-content {
    display: inline-block;
    text-align: center;
    padding: 0em .5em;
    transition: filter .5s;
    width: 100%;
    height: 100%;
    position: relative;
    bottom: 210px;
    left: -14px;
    color: black;
    transition: color .2s;
}

.badge-content:hover {
    color: white;
}

.anim-badge:hover {
}
