//globals / variables
@import "susy";
@import "breakpoint";
@import "sass/variables";

//layouts
@import "sass/layouts/body.scss";
@import "sass/layouts/footer.scss";
@import "sass/layouts/list.scss";
@import "sass/layouts/about.scss";
@import "sass/layouts/l-content.scss";

//modules
@import "sass/modules/grid-3.scss";
@import "sass/modules/profile-image.scss";
@import "sass/modules/nav.scss";
@import "sass/modules/anim-badge.scss";
@import "sass/modules/grid-4.scss";

.name {
    float: right;
    color: #989898;
    margin-right: .2em;
}


