@font-face {
    font-family: 'A love of Thunder';
    src: url('../fonts/A Love of Thunder.ttf');
}
@font-face {
    font-family: 'Variane Script';
    src: url('../fonts/Variane Script.ttf');
}

 @import url('https://fonts.googleapis.com/css?family=Fira+Sans:200,400,900');

$primary-color: rgb(81, 31, 48);
$secondary-color: rgb(195, 30, 37);

$susy: (
    columns: 12,
    global-box-sizing: border-box,
    use-custom: (rem: true,
    output: isolate,
    ),
    debug:(
        image: show
        ),
    );

$mobile-layout: (
    columns: 4,
    global-box-sizing: border-box,
    use-custom: (rem: true,
    ),
    debug:(
        image: show
        ),
    );

$tablet: 620px; 
$desktop: 900px; 
