 @import url('https://fonts.googleapis.com/css?family=Fira+Sans');

$susy: (
    columns: 12,
    global-box-sizing: border-box,
    use-custom: (rem: true,
    output: isolate,
    ),
    debug:(
        image: show
        ),
    );

$mobile-layout: (
    columns: 4,
    global-box-sizing: border-box,
    use-custom: (rem: true,
    ),
    debug:(
        image: show
        ),
    );

$tablet: 620px; 
$desktop: 900px; 
