.about-container {
    
    height: 30vh;
    position: absolute;
    bottom: -10px;
    width: 100%;
    @include breakpoint($tablet) {
      height: 200px;
      position: unset;
    }
    background-color: $secondary-color;
    border-top: .8em solid white;
    border-bottom: .8em solid white;
}
