.about-container {
    height: 30vh;
    position: absolute;
    bottom: -10px;
    width: 100%;
    @include breakpoint($tablet) {
      height: 200px;
      position: unset;
    }
    background-color: $secondary-color;
    border-top: .8em solid white;
    border-bottom: .8em solid white;
    p {
      color: white;
    }

    .about-info {
      position: relative;
      top: 20%;
      .twitter {
        @include span(6 of 12);
      }
      .location {
        transition: all .2s;
        text-align: center;
        cursor: pointer;
        * {
          position: relative;
          right: .4em;
        }
        a {
          font-weight: 600;
          bottom: .4em;
          color: white;
        }
        @include span(6 of 12 last);
        @include breakpoint($tablet) {
          position: relative;
          top: 2em;
          @include push(2);
          @include span(4 of 12);
        outline: 3px solid white;
        padding: .3em 0 .3em .3em;
        }
        @include breakpoint($desktop) {
          @include push(2);
          @include span(3 of 12);
          max-width: 300px;
        }
      }
    }

@include breakpoint($tablet) {
  .location:hover {
    a, .icon {
      color: $secondary-color;
      fill: $secondary-color;
    }
    background-color: white;
  }
}

}
