.anim-badge {
    z-index: 100;
    height: 200px;
    margin-bottom: 0;
}   
.anim-badge::before {
    content: "";
    width: 100%;
    height: 100%; 
    float: left;
    z-index: -1;
    background-image: url("../images/image_1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: center center;

}   

.anim-badge:hover::before {
    content: "";
}   

.badge-content {
    display: inline-block;
    text-align: center;
    width: 100%;
    height: 100%;
    position: relative;
    bottom: 200px;
    color: rgba(255, 255, 255, 0);
    transition: color .2s;
    background-color: rgba(219, 70, 180, .5);
    transition: background-color 1s, color 1s;

}

.highlight {
    color: white;
    background-color: rgba(219, 70, 180, .8);
}

.badge-content:hover {
    color: white;
    background-color: rgba(219, 70, 180, .8);
}

.anim-badge:hover {
}
