.logo {
  width: 100%;
  height: 100%;
  max-height: 250px;
}

.logo-next {
    border-radius: 100%;
    content: "";
    @include span(4 of 12);
    height: 40vw;
    position: relative;
    top: 20%;
    left: 10%;
}


.logo-next {
  @include breakpoint($tablet) {
      border-radius: 100%;
      content: "";
      @include push(4 of 12);
      @include span(4 of 12);
      position: relative;
      top: 20%;
      left: 0;
  }
  @include breakpoint($desktop) {
      border-radius: 100%;
      content: "";
      height: unset;
      @include push(10 of 24);
      @include span(3 of 12);
      position: relative;
      top: 18%;
      left: 0;
    }
}
