.menu-header {
   width: 100%; 
   height: 5em;
}

.mobile-menu {
    position: fixed;
    bottom: 0;
    z-index: 1000;
} 
#about-radio {
  left: 23%;
}
#location-radio {
  left: 43%;
}
#menu-radio {
  left: 63%;
}

/*@include breakpoint($tablet) {
  #menu-radio:checked + div{
     z-index: 100;
     height: inherit;
     visibility: visible;
  }
  #location-radio:checked + div{
     z-index: 100;
     height: inherit;
     visibility: visible;
  }
  #about-radio:checked + div{
     z-index: 100;
     height: inherit;
     visibility: visible;
  }
}*/
@include breakpoint($mobile) {
  html {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
  }
  footer {
    display: none;
  }
  #menu-radio:checked + div{
     z-index: 100;
     height: 100vh;
     width: 100vw;
     visibility: visible;
  }
  #location-radio:checked + div{
     z-index: 100;
     height: 100vh;
     visibility: visible;
  }
  #about-radio:checked + div{
     z-index: 100;
     height: 100vh;
     width: 100vw;
     visibility: visible;
   }
  .about-section, #location, #menu{
    position: absolute;
  }
}


@include breakpoint($tablet) {
  .mobile-menu {
    display: none;
  }
}
