.menu-header {
   width: 100%; 
   height: 5em;
}

.mobile-menu {
    position: fixed;
    bottom: 0;
    z-index: 1000;
} 
#about-radio, #catering-radio, #menu-radio {
  visibility: hidden;
}

/*@include breakpoint($tablet) {
  #menu-radio:checked + div{
     z-index: 100;
     height: inherit;
     visibility: visible;
  }
  #location-radio:checked + div{
     z-index: 100;
     height: inherit;
     visibility: visible;
  }
  #about-radio:checked + div{
     z-index: 100;
     height: inherit;
     visibility: visible;
  }
}*/
.mobile-nav {
  z-index: 1000000;
  position: fixed;
  bottom: 0;
  cursor: pointer;
  background-size: contain;
  height: 30px;
  padding-top: 2em;
  background-color: $primary-color;
}


.mobile-nav::after {
  color: white;
  font-size: 1.2em;
  font-weight: 500;
  width: 100%;
  text-align: center;
  position: relative;
  left: 8vw;
  bottom: .8em; }

label[for="about-radio"] {
  left: 0vw;
  width: 34vw;
}

label[for="about-radio"]::after {
  content: "About";
}

label[for="menu-radio"] {
  left: 33.633vw;
  width: 34vw;
}
label[for="menu-radio"]::after {
  content: "Menu";
}
label[for="catering-radio"] {
  left: 67vw;
  width: 34vw;
}
label[for="catering-radio"]::after {
  content: "Catering";
}

@include breakpoint($mobile) {
  html {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
  }
  footer {
    display: none;
  }
  $highlight-color: #652f41; 
  #about-radio:checked  ~ label[for="about-radio"] {
    background-color: $highlight-color;
  }
  #catering-radio:checked  ~ label[for="catering-radio"] {
    background-color: $highlight-color;
  }
  #menu-radio:checked  ~ label[for="menu-radio"] {
    background-color: $highlight-color;
  }
  #about-radio:checked + div{
     height: 100vh;
     width: 100vw;
     visibility: visible;
   }
  #catering-radio:checked + div{
     height: 100vh;
     visibility: visible;
  }
  #menu-radio:checked + div{
     height: 100vh;
     width: 100vw;
     visibility: visible;
  }
  .about-section, #catering, #menu{
    position: absolute;
  }
  nav {
    display: none;
  }
}


@include breakpoint($tablet) {
  .mobile-menu {
    display: none;
  }
  .mobile-nav {
    display: none;
  }
}
