.menu-header {
   width: 100%; 
   height: 5em;
}

.mobile-menu {
    position: relative;
    z-index: 1000
} 

@include breakpoint($tablet) {
  #menu-radio:checked + div{
     z-index: 100;
     height: inherit;
     visibility: visible;
  }
  #location-radio:checked + div{
     z-index: 100;
     height: inherit;
     visibility: visible;
  }
  #about-radio:checked + div{
     z-index: 100;
     height: inherit;
     visibility: visible;
  }
}
#menu-radio:checked + div{
   z-index: 100;
   height: 100vh;
   visibility: visible;
}
#location-radio:checked + div{
   z-index: 100;
   height: 100vh;
   visibility: visible;
}
#about-radio:checked + div{
   z-index: 100;
   height: 100vh;
   visibility: visible;
}
