nav {
    background-color: $secondary-color;
    height: 3em;
    z-index: 1000;
}

.nav-item {
    list-style: none;
    padding: .5em 1em 1em 1em;
    text-transform: uppercase;
    display: inline-block;
}

//#selected a {
//    font-weight: 600;
//}

.nav-item a {
    text-decoration: none;
    @include breakpoint($tablet) {
        color: white;
    }
}
.nav-item a:hover {
  font-weight: 600;
}

a {
  text-decoration: none;
  color: white;
  }


h1 {
  a {
    display: block;
    position: relative;
    top: -2em;
    visibility: hidden;
  }
}
