nav {
    background-color: $secondary-color;
    height: 3em;
}

.nav-item {
    list-style: none;
    padding: .5em 1em 1em 1em;
    text-transform: uppercase;
    display: inline-block;
}

#selected a {
    font-weight: 600;
}

.nav-item a {
    text-decoration: none;
    @include breakpoint($tablet) {
        color: white;
    }
}
.nav-item a:hover {
    color: $secondary-color;
}
