// About page stuff
.profile-image {
    margin: 0 auto;
    background-image: url("../images/profile.png");
    background-position: center center;
    background-size: 10em;
    $radius: 15.5em;
    border-radius: $radius;
    height: $radius;
    width: $radius;
}

.about {
    text-align: center;
    margin-bottom: 2.2em;
}

