.menu-background {
  background-image: url("../images/sandwhich.jpg");
  height: 6.4em;
  width: 100%;
  background-position: center center;
  background-size: cover;
  position: relative;
  bottom: 6.4em;
  margin-bottom: -4.4em;
}
