{% extends "layout.html" %}

{% block content %}
    <div class="about">
        <h1> Paul Von Zimmerman </h1>
        <h2> About me </h2>
        <article>
            <div class="profile-image"> </div>
            <p>Designer, programmer.</p>
            <p>            
            This is a portal for things to come. <br>
            Hope it looks good by the time I'm done <br>
            </p>
        </article>
        <h2> My favorite CSS properties </h2>
        <hr />
        <ul class="square-list">
            <li> border-radius </li>
            <li> background-image </li>
            <li> font-family </li>
            <li> list-style-type </li>
            <li> z-index </li>
        </ul>
        <ul class="square-list">
            <li> text-decoration </li>
            <li> filter </li>
            <li> position </li>
            <li> display </li>
            <li> float </li>
        </ul>
        <ul class="square-list">
            <li> transition </li>
            <li> max-height </li>
            <li> min-height </li>
            <li> clear </li>
            <li> text-align </li>
        </ul>
        <ul class="square-list">
            <li> background-repeat </li>
            <li> outline </li>
            <li> padding </li>
            <li> margin </li>
            <li> transform </li>
        </ul>
    </div>
{% endblock %}
