{% extends "layout.html" %}

{% block content %}
    <div class="about">
        <h1> Paul Von Zimmerman </h1>
        <h2> About me </h2>
        <article>
            <div class="profile-image"> </div>
            <p>Designer, programmer.</p>
            <p>            
            This is a portal for things to come. <br>
            Hope it looks good by the time I'm done <br>
            </p>
        </article>
    </div>
    <hr />
    <footer>
        <ul>
            <li class="nav-item"><a href="mailto:pcvonz@gmail.com"><p> pcvonz@gmail.com </p></a></li>
            <li class="nav-item"><a href="https://github.com/pcvonz/"><img src="images/github.png"></a></li>
            <li class="nav-item"><a href="https://twitter.com/pcvonz"><img height="32" src="images/twitter.png"></a></li>
        </ul>
    </footer>
    <script src="http://livejs.com/live.js"></script>
{% endblock %}
