{% extends "layout.html" %}

{% set id_1 = "selected" %}

{% block content %}
        <div class="content">
            <div class="logo-next" > 
                <p></p>
                <div class="grid-3"></div>
            </div>
            <!--div id="logo" class="grid-3"> 
                <img src="../images/HitandBun_logo.svg"/>
            </div-->
            <div class="grid-3-last"> 
                <p></p>
            </div>

            <div class="truck-image">
            </div>
            <div class="chef-image">
                <div class="profile-image"></div>
            </div>
            <div class="l-menu">
                <h1> Menu </h1>
                <div class="grid-3">
                    <table>
                        <tr>
                            <th scope="col">The Hit and Bun Sandwich $12</th>
                        </tr>
                        <tr>
                            <td>Open faced bun with pulled pork and brisket, famous beans, coleslaw, and BBQ sauce. Served with chips and a pickle.</td>
                        </tr>
                    </table> 
                </div>
                <div class="grid-3"></div>
                <div class="grid-3-last"></div>
            </div>
            </div>
        </div>
{% endblock %}
