{% extends "layout.html" %}

{% block content %}
        <div class="content">
            <h1> Projects </h1>
            <div class="grid-3 anim-badge"> 
                <a href="#"><div class="badge-content">
                    <h2> Project 1</h2>
                        <p>Placeholder content</p>
                        <p>            
                        This is a portal for things to come. <br>
                        Hope it looks good by the time I'm done <br>
                        </p>
                </div></a>
            </div>
            <div class="grid-3 anim-badge"> 
                <a href="#"><div class="badge-content">
                    <h2> Project 2</h2>
                        <p>Placeholder content</p>
                        <p>            
                        This is a portal for things to come. <br>
                        Hope it looks good by the time I'm done <br>
                        </p>
                </div></a>
            </div>
            <div class="grid-3-last anim-badge"> 
                <a href="#"><div class="badge-content">
                    <h2> Project 3</h2>
                        <p>Placeholder content</p>
                        <p>            
                        This is a portal for things to come. <br>
                        Hope it looks good by the time I'm done <br>
                        </p>
                </div></a>
            </div>
        </div>
{% endblock %}
