{% extends "layout.html" %}

{% set id_1 = "selected" %}

{% block content %}
        <div class="content">
            <input class="mobile-menu" id="about-radio" name="menu" type="radio"/>
            <div class="about-section">
                <div id="about" class="l-page">
                    <div class="logo-next" > 
                    </div>
                    <!--div id="logo" class="grid-3"> 
                        <img src="../images/HitandBun_logo.svg"/>
                    </div-->
                    <!--div class="grid-3-last"> 
                        <p></p>
                    </div-->
                </div>
                <div class="about-container"> 
                    <div class="twitter-feed">

                    </div> 
                </div>
                <div class="truck-image">
                </div>
            </div>
            <div class="menu-header"> </div>

            <input class="mobile-menu" id="location-radio" name="menu" type="radio"/>
            <div id="location" class="l-page">
                <div class="chef-image">
                    <div class="profile-image"></div>
                </div>
            </div>
            <input class="mobile-menu" id="menu-radio" name="menu" type="radio"/>
            <div id="menu" class="l-page">
                <div class="l-menu">
                    <h1> Menu </h1>
                    <div class="grid-3">
                        <table class="menu-table">
                            <tr>
                                <th scope="col">The Hit and Bun Sandwich $12</th>
                            </tr>
                            <tr>
                                <td>
                                    Open faced bun with pulled pork and
                                    brisket, famous beans, coleslaw, and BBQ
                                    sauce. Served with chips and a pickle.
                                </td>
                            <tr>
                                <th scope="col">Jumbo BBQ Sandwhich $10</th>
                            </tr>
                            <tr>
                                <td>
                                    Two meats on a large bun. Served with chips and a pickle.
                                </td>
                            </tr>
                            <tr>
                                <th scope="col">Regular BBQ Sandwich  $8</th>
                            </tr>
                            <tr>
                                <td>
                                    One meat served up on a small bun. Served
                                    with chips and a pickle. 
                                </td>
                            </tr>
                            <tr>
                                <th scope="col">Rib Basket (when available)  $10</th>
                            </tr>
                            <tr>
                                <td>
                                    Pork spare ribs, slow smoked. Served with chips and a pickle.
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="grid-3">
                        <table class="menu-table">
                            <tr>
                                <th scope="col">Smoked Portobello Mushroom $10</th>
                            </tr>
                            <tr>
                                <td>
                                    Portobello mushroom caps, marinated and smoked over
                                    hickory logs. Served on a toasted brioche bun with
                                    slaw and house-made pickles. Vegetarian.
                                </td>
                            </tr>
                            <tr>
                                <th scope="col">Louisiana Red or Polish Sausage $6</th>
                            </tr>
                            <tr>
                                <td>
                                    Spicy Louisiana Red Sausage or Polish
                                    Sausage smoked over hickory logs. Served on
                                    a toasted brioche bun with slaw and
                                    house-made pickles. 
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="grid-3-last">
                        <table class="menu-table">
                            <tr>
                                <th scope="col">Desserts</th>
                            </tr> 
                            <tr>
                                <td>
                                    Blueberry and Nectarine Cobbler $3
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Raspberry cream cupcakes $2
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Orange frosted brownies $2
                                </td>
                            </tr>
                            <tr>
                                <th scope="col"> Sides (6 oz. Servings)  $2</th>
                            </tr>
                            <tr>
                                <td>
                                    Truck Beans 
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Coleslaw 
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Tater Salad 
                                </td>
                            </tr>
                            <tr>
                                <th scope="col"> Drinks 1$ </th>
                            </tr>
                            <tr>
                                <td>
                                    ​Bottled Water
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Canned Soda: Coke, Diet. Coke, Sprite, Dr. Pepper, Diet. Dr. Pepper
                                </td>
                            </tr>
                        </table> 
                    </div>
                </div>
                </div>
            </div>
        </div>
{% endblock %}
