<html>
<head>
    <meta charset="UTF-8">
    <title>Design 360 Paul Von Zimmerman</title>
    <link rel=StyleSheet href="css/style.css" TYPE="text/css" >
</head>

<body>
    <nav>
        <ul>
            <li class="selected nav-item"> <a href=""> Design 360 </a></li>
            <li class="nav-item"> <a href="#"> Project 1</a></li>
            <li class="nav-item"> <a href="#">Project 2</a></li>
            <li class="nav-item name"> Design 360 </li>
        </ul>
    </nav>
    <hr />
    {% block content %}{% endblock %}
</body>
</html>
