<html>
<head>
    <meta charset="UTF-8">
    <title>Design 360 Paul Von Zimmerman</title>
    <link rel=StyleSheet href="css/style.css" TYPE="text/css" >
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <nav>
        <ul>
            <li class="selected nav-item"> <a href="/"> Design 360 </a></li>
            <li class="nav-item"> <a href="#"> Project 1</a></li>
            <li class="nav-item"> <a href="#">Project 2</a></li>
            <li class="nav-item"> <a href="about.html">About</a></li>
            <li class="nav-item name"> Design 360 </li>
        </ul>
    </nav>
    <hr />
    {% block content %}{% endblock %}
    <footer>
    <hr />
        <ul>
            <li class="nav-item"><a href="mailto:pcvonz@gmail.com"><p> pcvonz@gmail.com </p></a></li>
            <li class="nav-item"><a href="https://github.com/pcvonz/"><img src="images/github.png"></a></li>
            <li class="nav-item"><a href="https://twitter.com/pcvonz"><img height="32" src="images/twitter.png"></a></li>
        </ul>
    </footer>
    <script src="http://livejs.com/live.js"></script>
</body>
</html>
