<html>
<head>
    <meta charset="UTF-8">
    <title>Design 360 Paul Von Zimmerman</title>
    <link rel=StyleSheet href="css/style.css" TYPE="text/css" >
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    {% include "symbol/svg/sprite.symbol.svg" %}
    <nav class="is-expanded-vertical-dropdown">
            <ul>
                <li id="{{ id_1 }}" id="selected" class="nav-item"> <a href="#about"> About </a></li>
                <li id="{{ id_4 }}" class="nav-item"> <a href="#menu-anchor">Menu</a></li>
                <li id="{{ id_2 }}" class="nav-item"> <a href="#catering-anchor"> Catering </a></li>
        </ul>
    </nav>
    <hr />
    {% block content %}{% endblock %}
    <footer>
      <ul>
          <li class="nav-item"><a href="#"><img height="32" src="images/twitter.png"></a></li>
          <li class="nav-item"><a href="mailto:pcvonz@gmail.com"><p> hitandbun@hitandbun.com </p></a></li>
          <li class="nav-item">Open 7 Days a week 9am-5pm</li>
      </ul>
    </footer>
</body>
</html>
