a:visited {
    color: gray;
}

hr {
    margin: 0;
}

   body {
       background-color: white;
       padding: 10;
       color: rgb(74, 74, 74);
       margin: 0;
       padding: 0;
       font-family: 'Fira Sans', sans-serif;
   } 

@include susy-breakpoint($tablet, $mobile-layout) {
    body {
    }

}

nav {
    background-color: white;
    display: block;
    width: 100%;
    height: 7em;
    margin: 0;
    padding: 1.2em 0 1.2em 0;
    max-height: 200px;
    transition: padding 250ms, height 250ms;
    overflow: hidden;
    padding-left: 7%;
    @include container(4 center);
    background-color: pink;
    @include breakpoint($tablet) {
        @include container(6);
        background-color: white;
    }
    ul {
        li {
			white-space: nowrap;
            @include span(2 of 4);
        }
        li:nth-child(n+2) {
            @include span(2 of 4 last);
        }
        @include breakpoint($tablet) {
            li {
                @include span(1 of 6);
            }
            li:nth-child(n+2) {
                @include span(1 of 6);
            }
        }
        display: block;
        width: 100%;
        height: 2.2em;
        margin: 0;
        padding: 0;
        margin-left: 1em;
    }
}

.main {
    clear: both;
	@include breakpoint($tablet) {
		@include span(6 of 12);
		@include push(1 of 12);
	}
}
	
