body {
   font-family: 'Fira Sans';
}

a:visited {
    color: gray;
}

hr {
    margin: 0;
}

body {
   background-color: white;
   padding: 10;
   color: rgb(74, 74, 74);
   margin: 0;
   padding: 0;
} 

@include susy-breakpoint($tablet, $mobile-layout) {
    body {
    }

}


.main {
    clear: both;
	@include breakpoint($tablet) {
		@include span(6 of 12);
		@include push(1 of 12);
	}
}
	
