.l-menu {
    .grid-3 {
        height: 52%;
        max-height: 500px;
    }
    .grid-3-last {
        max-height: 500px;
        height: 75%;
    }
    @include span(12 of 12);
    h1 {
        width: 100%;
        margin: 0;
        padding: 1em 0 1em 0;
        color: white;
        text-align: center;
        background-color: #c31e2599;
        position: relative;
        z-index: 2;
    }

    h2 {
      color: white;
      background-color: $primary-color;
      padding: 1em;
      margin: 0;
    }
}

table {
  padding: 0 1em 0 1em;
}

th {
  text-align: left;
}

tr {
  color: white;
}
