.l-menu {
    height: 180%;
    background-color: $primary-color;
    table { 
      background-color: $primary-color;
    }
    @include span(12 of 12);
    h1 {
        width: 100%;
        margin: 0;
        padding: 1em 0 1em 0;
        color: white;
        text-align: center;
        background-color: transparentize($secondary-color, .4);
        position: relative;
        z-index: 2;
    }

    h2 {
      color: white;
      background-color: $primary-color;
      padding: 1em;
      margin: 0;
      position: relative;
      top: 2em;
    }

    @include breakpoint($tablet) {
      .grid-3 {
        height: 80%;
      }
      .grid-3-last {

      }
      background-color: $primary-color;
    }
    h2 {
      padding: 0 0 0 1em;
      position: relative;
      top: 1em;;
      margin-top: 2em;
      margin-bottom: 1em;
    }
    @include breakpoint($tablet) {
      height: 100.0%;
      background-color: $primary-color;
    }
}
@include breakpoint($tablet) {
  #menu {
    position: relative;
    top: -5.5em;
    height: 100vh;
    max-height: 600px;
  }
  table {
    @include span(4 of 12);
  }
  table:last-child {
    @include span(4 of 12 last);
  }
}

table {
  padding: 0 1em 0 1em;
}

th {
  text-align: left;
  font-weight: 600;
  font-size: 1.1em;
}

tr {
  color: white;
  font-weight: 200;
}
