.about-section, #location, #menu {
    visibility: hidden;
}

@include breakpoint($tablet) {
.about-section, #location, #menu {
    visibility: visible;
}
}

.l-page {
    height: 60vh;
    top: 0;
    bottom: 0;
    overflow: scroll;
    @include breakpoint($tablet) {
        position: inherit;
        height: 70vh;
        //min-height: 600px;
        overflow: unset;
    }
    padding-top: 2.9em;
}

.l-page:nth-child(2n+1) {
    background-color: rgba(81, 31, 48, 0.9);
    height: 100vh;
    @include breakpoint($tablet) {
      height: 60vh;
    }
    
}
.l-page:nth-child(2n) {
   background-color: blue; 
}
.l-page:nth-child(3n) {
   background-color: gray; 
}
